@import './libs/normalize.css';
@import './libs/typography.css';

html, body{
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body{
  background: radial-gradient(ellipse at center, #f8fcff 0%,#ddf4ff 100%);
}

main {
  position: relative;
  min-height: 100%;
}

#logo {
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}

#logo img{
  width: 450px;
  height: 450px;
}

.tmpl-example{
  padding: 5px 15px 0;
  border: 1px dashed #bbb;
}

regular-slide, #logo {
  position: absolute;

  width: 900px;
  margin-left: -450px;
  left: 50%;

  height: 450px;
  top: 50%;
  margin-top: -250px;
  transform: scale(0);
  transition: all 0.7s ease;
}